.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.button {
    width: 100px;
    padding: 8px 16px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 15px 0;
        gap: 15px;
    }
    
    .button {
        width: 90px;
        padding: 7px 14px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px 0;
        gap: 10px;
    }
    
    .button {
        width: 80px;
        padding: 6px 12px;
        font-size: 12px;
    }
}