.container {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.imgContainer {
    flex: 0 0 40%;
    height: 300px;
    position: relative;
    max-width: 400px;
    display: block;
}
.img{
    object-fit: cover;
    }

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    max-width: 450px;
}
.desc{
    max-width: 400px;
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor);
}
.date {
    color: gray;
    font-size: 14px;
}
.category {
    color: #5b25c9;
    font-weight: 500;
}
.link {
    border-bottom: 1px solid black;
    width: fit-content;
    padding: 2px 0px;
}
@media screen and (max-width: 1280px) {
    .imgContainer {
        height: 250px;
    }
    .desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        gap: 20px;
    }
    .textContainer {
        gap: 15px;
    }
    .imgContainer {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 15px;
    }
    .imgContainer {
        width: 100%;
        height: 220px;
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        margin-bottom: 20px;
    }
    .imgContainer {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .container {
        gap: 10px;
    }
    .textContainer {
        gap: 10px;
    }
    .title {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    /* iPhone-specific adjustments */
    
    .desc {
        font-size: 13px;
        line-height: 1.4;
    }
}
