.container{
    margin-top: 30px;
}
.title{
    font-size: 64px;
    font-weight: 200;
}
.greeting{
    font-weight: bold;
}
.post {
    margin-top: 60px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.imgContainer img{
    flex: 1;
    height: 500px;
    position: relative;
    object-fit: cover;
    display: block;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.postTitle {
    font-size: 44px;
    font-weight: bold;
    
}
.postDesc {
    font-size: 20px;
font-weight: 300;
color: var(--softTextColor)
}
.readMoreButton {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: fit-content;    
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 54px;
    }   
    .imgContainer{
        display: none;
    }
    .postTitle {
        font-size: 32px;
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }
    .postTitle {
        font-size: 28px;
    }
}
@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }
    .postTitle {
        font-size: 24px;
    }
}
