.container {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    cursor: pointer;
    background-color: black;
    position: relative;
}
.ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    left: 2px;
    transition: transform 0.3s ease;
}